@model PokemonUniteBuildTracker.ViewModels.HeldItemViewModel

@{
    ViewData["Title"] = "Held Item Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>@Model.HeldItemName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Image</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.HeldItemImgLink))
            {
                <img src="@Model.HeldItemImgLink" alt="@Model.HeldItemName" width="100" height="100" />
            }
        </dd>
        <dt class="col-sm-2">HP</dt>
        <dd class="col-sm-10">@Model.HeldItemHP</dd>
        <dt class="col-sm-2">Attack</dt>
        <dd class="col-sm-10">@Model.HeldItemAttack</dd>
        <dt class="col-sm-2">Defense</dt>
        <dd class="col-sm-10">@Model.HeldItemDefense</dd>
        <dt class="col-sm-2">Sp Attack</dt>
        <dd class="col-sm-10">@Model.HeldItemSpAttack</dd>
        <dt class="col-sm-2">Sp Defense</dt>
        <dd class="col-sm-10">@Model.HeldItemSpDefense</dd>
        <dt class="col-sm-2">Crit Rate</dt>
        <dd class="col-sm-10">@Model.HeldItemCritRate</dd>
        <dt class="col-sm-2">CDR</dt>
        <dd class="col-sm-10">@Model.HeldItemCDR</dd>
        <dt class="col-sm-2">Lifesteal</dt>
        <dd class="col-sm-10">@Model.HeldItemLifesteal</dd>
        <dt class="col-sm-2">Attack Speed</dt>
        <dd class="col-sm-10">@Model.HeldItemAttackSpeed</dd>
        <dt class="col-sm-2">Move Speed</dt>
        <dd class="col-sm-10">@Model.HeldItemMoveSpeed</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.HeldItemId" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
